.wrapper{
    max-width: 980px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
}



.library_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.library_loading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}

.book_card{
    position: relative;
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    background: whitesmoke;
    border-radius: 10px;
    margin-top: 50px;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}


.card_text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 80px;
}

.name{
    font-weight: bold;
}

.author{
    color: grey;
}

.book_card img{
    max-width: 100%;
    height: 200px;
}

.card_content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.card_button button{
    font-family: 'roboto',sans-serif;
    font-weight: 600;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

}



.more{
    background: #007f5f;
    color: white;
    transition: all 0.3s ease-in;

}

.read{
    background: #FA7070;
    color: white;
    margin-bottom: 5px;
    transition: all 0.5s ease-in-out;
}

.read:hover{
    
    scale: 1.03;
}
.more:hover{
    scale: 1.03;
}



                               



                            /* HEADER */
.library_header{
    color: #FB6D48;
}

                            /* NAVIGATION */

.library_navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 10px;
}

.searchInput::placeholder{
    color: grey;

}

.searchInput{       
    width: 300px;
    outline: none;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #FB6D48;
    

}

.favorite_wrap{
    position: relative;
    display: flex;
    margin-top: 0 !important;
    align-items: center;
}

.favorite{
    text-decoration: none;
    color: gray;
    transition: all 0.4s ease;
}

.favorite:hover{
    color: black;
    scale: 0.98;

}

.indicator span{
    text-align: center;
}

.indicator{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 110px;
    top: -10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}
.indicator_displayNone{
    display: none;
}
.indicatorCountNone{
    display: none;
}

                            /* pagination wrap */


.pagination_wrap{
    margin-top: 30px;
    margin-bottom: -40px;
    display: flex;
    flex-direction: row !important;
    gap: 20px;
   
    
}


                                /* MEDIA REQUESTS */

@media screen and (max-width:1290px) {
    .library_header{
        color: #FB6D48;
        display: flex;
        justify-content: center;

    }

    .pagination_wrap{
        
        justify-content: center;
        
    }

    .library_navigation{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
        gap: 10px;
    }

    
}
@media screen and (max-width:1000px) {
    .wrapper{
        margin-top: 160px;
    }
    .wrapper_adaptive{
        margin-top: 340px !important;
    }
    
}