.login_wrapper{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
 }
 
 .login{
     width: 500px;
     background: white;
     border: 1px solid gainsboro;
     border-radius: 8px;
     gap: 50px;
     margin: 100px auto;
     padding: 40px;
     display: flex;
     flex-direction: column;
 }
 
 .input_wrap{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
.form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 45px;
     width: 100%;
 }
 
 
 
 .input_wrap span{
     color: red;
     
 } 
 
.header_text{
     display: block;
     margin: 0 auto;
     color: black;
 
 }
 
.input{
     background: inherit;
     border: 1px solid gainsboro;
     border-radius: 8px;
     outline: none;
     padding: 8px;
     color: black;
     width: 80%;
 }
 
.input::placeholder{
     letter-spacing: 2px;
     color: grey;
 }
 
.submit_btn{
     border: none;
     outline: none;
     text-align: center;
     background: #091333;
     width: 110px;
     height: 30px;
     border-radius: 8px;
     cursor: pointer;
     color:whitesmoke;
     font-family: 'Segoe UI', sans-serif;
     letter-spacing: 1px;
     font-weight: 600;
     transition: all 0.3s ease-in;
 
 }
 .submit_btn:hover{
     scale: 1.05;
     background: orangered;
 }
 
 .login_footer{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 
 
 
 
 @media screen and (max-width:1000px){
     .login_wrapper{
         margin-top: 150px;
     }
     .dropdown_login_wrapper{
         margin-top: 340px !important;
     }
 }