.wrapper{ 
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width:1370px) {
    .wrapper{
        max-width: 950px;
    }
    
}

@media screen and (max-width:1250px) {
    .wrapper{
        max-width: 900px;
    }
    
}



@media screen and (max-width:1150px) {
    .wrapper{
        max-width: 750px;
    }
    
}

@media screen and (max-width:1000px) {
    .wrapper{
        margin-top: 150px;
    }
    .adaptive_wrapper{
        margin-top: 340px !important;
    }
}

@media screen and (max-width:785px) {
    .wrapper{
        max-width: 650px;
    }
   
}

@media screen and (max-width:670px) {
    .wrapper{
        max-width: 470px;
    }
   
}
@media screen and (max-width:490px) {
    .wrapper{
        max-width: 350px;
    }
   
}


