@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');


body{
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Radio Canada Big", sans-serif;
    letter-spacing: 0.9px;
    box-sizing: border-box;
}

#root{
    width: 100%;
    height: 100vh;
}

.app-container{
    width: 100%;    
    height: 100vh;
}

.pages-content{
    margin-left: 300px;
    overflow-x: hidden;
}

   /* MEDIA REQUESTs */
@media screen and (max-width:1000px){
    .pages-content{
        margin-left:0;
        flex: 1;
        overflow-x: hidden;
    }
    
    
}

.open_modal{
    height: 100vh;
    overflow-y: hidden;
}