
                            /* NAVIGATION */


.library_navigation{
    display: flex;
    align-items: center;
    gap: 5px;
}

.library_navigation input{
    border:none;
    border-radius: 4px;
    padding: 10px;
    outline: none;
}

.library_navigation input::placeholder{
    font-size: 16px;
}


.favorite_wrap{
    position: relative;
    display: flex;
    margin-top: 0 !important;
    align-items: center;
}

.favorite{
    text-decoration: none;
    color: gray;
    transition: all 0.4s ease;
}

.favorite:hover{
    color: black;
    scale: 0.98;

}

.indicator span{
    text-align: center;
}

.indicator{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 110px;
    top: -10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}
.indicator_displayNone{
    display: none;
}
.indicatorCountNone{
    display: none;
}




                                /* MEDIA REQUESTS */

@media screen and (max-width:1290px) {

    .pagination_wrap{
        
        justify-content: center;
        
    }

   

    
}

@media screen and (max-width:785px) {

    .pagination_wrap{
        
        justify-content: center;
        
    }
    .library_navigation input{
        border: 1px solid gray;
    }

   

    
}

