
                            /* NAVIGATION */

/* .library_navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 10px;
} */

.searchInput::placeholder{
    color: grey;

}

.searchInput{       
    width: 300px;
    outline: none;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #FB6D48;
    

}

.favorite_wrap{
    position: relative;
    display: flex;
    margin-top: 0 !important;
    align-items: center;
}

.favorite{
    text-decoration: none;
    color: gray;
    transition: all 0.4s ease;
}

.favorite:hover{
    color: black;
    scale: 0.98;

}

.indicator span{
    text-align: center;
}

.indicator{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 110px;
    top: -10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}
.indicator_displayNone{
    display: none;
}
.indicatorCountNone{
    display: none;
}

                            /* pagination wrap */


.pagination_wrap{
    /* margin-top: 30px;
    margin-bottom: -40px; */
    display: flex;
    flex-direction: row !important;
    gap: 20px;
   
    
}


                                /* MEDIA REQUESTS */

@media screen and (max-width:1290px) {

    .pagination_wrap{
        
        justify-content: center;
        
    }

   

    
}
