.sidebar_container{
    position: fixed;
    height: 100%;
    width: 250px;
    background: #F2613F;
    padding: 20px;
    z-index: 1;
    box-shadow: 6px 0px 18px 4px rgba(0,0,0,0.1);
}



.sidebar_container hr{
    border: 1px solid gainsboro;
}

.logo_wrap{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}




.navigation_wrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.sidebar_header img{
    width: 25%;
    border-radius: 50%;
}

.sidebar_header{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.nav_item{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    gap: 10px;

}

.account{
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
}

.user_account{
    cursor: pointer;
    transition: all 0.3s ease;
}
.user_account:hover{
    scale:1.05;
    box-shadow: 0 0 5px 0 white;
}

.active{
    color: yellow;
}

.indicator{
    position: absolute;
    left: 25px;
    top: -5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
}
.indicator_displayNone{
    display: none;
}
.indicatorCountNone{
    display: none;
}

.dropdown_btn{
    display: none;
}

.dropdown{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    background: #F2613F;
    width: 100%;
    height: fit-content;
    transition: all 0.3s ease;
}

.dropdown_active{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    background: #F2613F;
    width: 100%;
    height: fit-content;

}

.x_wrap{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    
}

.x{
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    color: white;
    margin-right: 30px;
    
}


                                    /* MEDIA REQUESTS */

@media screen and (max-width: 1000px) {
    .sidebar_container{
        position:fixed;
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        width: 100%;
        background: #F2613F;
        padding: 20px;
        z-index: 99;    
        box-shadow: 6px 0px 18px 4px rgba(0,0,0,0.1);
    }
    .sidebar_header img{
        width: 70px;
        border-radius: 50%;
    }
    .navigation_wrap{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-right: 30px;
        margin-top: 0;
    }
    .sidebar_header{
        color: white;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 0;
    }

    
}

@media screen and (min-width: 950px){
    .dropdown_active{
        display: none;
    }
    
    
}

@media screen and (max-width: 950px) {

    .sidebar_container{
        padding: 20px;
        align-items: center;
    }

    .navigation_wrap{
        display: none;
    }
    .dropdown_btn{
        display: block;
        margin-right: 100px;
        cursor: pointer;
    }
    .sidebar_header{
        width: 100%;
        justify-content: space-between;
        align-items: center;

    }
    .mobile_dropdown{
        display: flex;
    }
    .account{
        position: fixed;
        top: 25px;
        right: 20px;
        height: 50px;
    }
    
}