.mentors_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    padding-bottom: 200px;
    
}

.mentors_wrapper{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mentors_header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mentors_header h1{
    margin: 0;
    color: rgb(45, 47, 49);
}

.hr{
    margin: 20px;
}

.name{
    font-size: 20px;
    color: rgb(45, 47, 49);
    font-weight: 600;
}

.mentors_header img{
    width: 30%;

}


.mentors_card{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    height: auto;
    background: transparent;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 10px;
    
}

.mentor_description {
    z-index: 99;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 10px;
    visibility: hidden;
    opacity: 0; 
    transition: visibility 0s, opacity 0.3s linear; 
    overflow: hidden;
}
  

.mentors_card img{
    width: 320px;
}

.mentors_card:hover .mentor_description {
    visibility: visible; 
    opacity: 1; 
  }

.mentors_card p{
    max-width: 320px;
}

@media screen and (max-width:1000px) {
    .mentors_wrapper{
        margin-top: 150px;
    }

    .adaptive_wrapper{
        margin-top: 340px;
    }
    
}
