.courses_filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
}

.courses_filter input{
    border: 1px solid orangered;
    border-radius: 12px;
    padding: 10px;
    outline: none;
}

.courses_filter input::placeholder{
    font-size: 16px;
}